@keyframes mainanimation {
  0% {
    opacity: 0%;
    transform: rotateX(60deg) translateY(-7rem); }
  50% {
    opacity: 80%;
    transform: rotateY(-5deg) translateY(0.5rem); }
  100% {
    opacity: 100%;
    transform: translateY(0); } }

@keyframes subanimation {
  0% {
    opacity: 0%;
    transform: rotateX(-60deg) translateY(7rem); }
  50% {
    opacity: 80%;
    transform: rotateY(5deg) translateY(-0.5rem); }
  100% {
    opacity: 100%;
    transform: translateY(0); } }

@keyframes btnAnimation {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*since default is 16px and we want to set it as  10px .so , 6.25  */ }

body {
  font-family: "Lato",sans-serif;
  padding: 3rem;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 4.5rem;
    animation: mainanimation 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: subanimation 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 4rem; }

.u-text-align {
  text-align: center !important; }

.u-bottom-margin-small {
  margin-bottom: 2rem !important; }

.u-bottom-margin-medium {
  margin-bottom: 4rem !important; }

.u-bottom-margin-large {
  margin-bottom: 8rem !important; }

.u-top-margin-small {
  margin-top: 2rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-decoration: none;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.196); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.196);
  outline: none; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff;
    color: #777; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a;
    color: #fff; }

.btn::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 0.4s;
  z-index: -1; }

.btn--animation {
  animation: btnAnimation 0.5s 0.7s ease-out;
  animation-fill-mode: backwards; }

.btn-secondary:link, .btn-secondary:visited {
  text-decoration: none;
  display: inline-block;
  color: #7ed56f;
  font-size: 1.6rem;
  border-bottom: 1px solid #7ed56f;
  padding-bottom: .5rem;
  transition: all .2s; }

.btn-secondary:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.2rem); }

.btn-secondary:active {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all .5s; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      outline-offset: 2rem;
      z-index: 20;
      transform: scale(1.05) translateY(-0.5rem); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .2s ease; }
  .feature-box__icon {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    display: inline-block;
    font-size: 6rem;
    font-weight: 700;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box__paragraph {
    font-size: 1.5rem; }
  .feature-box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 52rem;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    position: relative; }
    .card__picture--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to bottom right, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to bottom right, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__detail {
    padding: 2rem 3rem 3rem 3rem; }
    .card__detail ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__detail ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__detail ul li:not(:last-child) {
          border-bottom: 1px solid rgba(119, 119, 119, 0.1); }
  .card__cta {
    position: relative;
    width: 90%;
    height: 52rem;
    margin: 0 auto; }
  .card__price-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 8rem;
    width: 100%;
    height: 25rem; }
  .card__price-only {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem; }
  .card__price-value {
    color: #fff;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 300;
    padding-bottom: 5rem; }

.story {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .3rem;
  box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem 6rem 6rem 9rem;
  width: 75%;
  margin: 0 auto;
  transform: skewX(-12deg); }
  .story__shape {
    float: left;
    height: 15rem;
    width: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    font-size: 1.6rem;
    transform: skewX(12deg); }
  .story__caption {
    font-size: 1.7rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, 20%);
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    transform: translate(-40%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .15;
  z-index: -1; }
  .bg-video__content {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  display: block;
  width: 90%;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  padding-left: 2rem;
  display: block;
  padding-top: .7rem;
  transition: all 0.3s ease;
  cursor: pointer; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block;
  width: 49%; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  padding-left: 4.5rem;
  position: relative; }

.form__radio-btn {
  display: inline-block;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #55c57a;
  left: 0;
  top: -0.8rem;
  position: absolute; }
  .form__radio-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(22%, 22%);
    height: 1rem;
    width: 1rem;
    border: 0.7rem solid #55c57a;
    display: block;
    border-radius: 50%;
    opacity: 0; }

.form__radio-input:checked + .form__radio-label .form__radio-btn::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    background-color: #fff;
    width: 75%;
    height: 50rem;
    margin: 5rem auto;
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: scale(0.25);
    transition: all .3s .2s; }
  .popup:target .popup__content {
    transform: scale(1); }
  .popup__left {
    display: table-cell;
    width: 33.333%; }
  .popup__right {
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    font-weight: 100;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid rgba(51, 51, 51, 0.1);
    hyphens: auto; }
  .popup__close:link, .popup__close:visited {
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 1;
    font-size: 3rem;
    text-decoration: none;
    transition: all .2s; }
  .popup__close:hover {
    color: #55c57a; }

.header {
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    left: 4rem;
    top: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  .footer__logo-box {
    text-align: center;
    padding-bottom: 8rem; }
  .footer__logo-img {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #999; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link {
    display: inline-block; }
    .footer__link:link, .footer__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #f7f7f7;
      transition: all 0.2s; }
    .footer__link:hover, .footer__link:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      color: #55c57a;
      transform: rotate(5deg) scale(1.2); }
  .footer__copyright {
    font-size: 1.5rem;
    color: #f7f7f7;
    padding-top: 2rem;
    border-top: 1px solid #999;
    width: 80%;
    float: right; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  position: fixed;
  height: 100vh;
  width: 0;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  margin: 1rem;
  list-style: none;
  text-align: center; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    height: 2px;
    width: 3rem;
    background-color: #333;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::after {
    top: -.8rem; }
  .navigation__icon::before {
    top: .8rem; }

.navigation__button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  margin-top: -20vh;
  padding: 20rem 0;
  background-color: #f7f7f7; }

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-feature > * {
    transform: skewY(7deg); }

.section-tour {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem;
  text-align: center; }

.section-story {
  padding: 15rem 0;
  position: relative; }

.section-book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 6rem; }
