.feature-box{
    background-color: rgba($color-white,0.8);
    text-align: center;
    padding: 2.5rem;
    box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    transition: all .2s ease;
    

    &__icon{
        background-image: linear-gradient( to right,$color-primary-light ,$color-primary-dark);
        display: inline-block;
        font-size: 6rem;
        font-weight: 700;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

     &__paragraph{
         font-size: 1.5rem;
    }

    &:hover{
        box-shadow: 0 1rem 2rem rgba($color-black,0.4);
        transform: translateY(-1.5rem) scale(1.03);
    }
}