.u-text-align{text-align: center !important ;}

.u-bottom-margin-small{ margin-bottom: 2rem !important ;}

.u-bottom-margin-medium{ margin-bottom: 4rem !important ;}

.u-bottom-margin-large{ margin-bottom: 8rem !important ;}

.u-top-margin-small{ margin-top: 2rem !important ;}
